div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes example {
    from {margin-left: 0px;}
    to {margin-left: 300px;}
}