div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    0%   { margin-left:0px; }
    100% { margin-left:300px; }
}