.block {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {margin-left: 0px; background-color: rgb(255,0,0); }
    to {margin-left: 300px;margin-top: 300px; background-color: rgb(0,0,255);}
}