
.container {
  background: linear-gradient(to bottom, #f4e400 0%, #ed6e00 100%);
  height: 300px;
  width: 100vw;
  overflow: hidden;
  perspective: 500px;
}

.scrollTxt {
  position: absolute;
  bottom: -12vw;
  right: 0;
  animation-name: scroll;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scrollTxt p {
  color: red;
  opacity: 0.3;
  font-family: 'Oswald', sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 0;
  text-align: center;
}

@keyframes scroll {
  from {
    transform: rotateX(20deg) rotateZ(30deg);
  }
  to {
    transform: rotateX(20deg) rotateZ(30deg) translateY(66vw);
  }
}
